[MASTER]

ignore=tests

[MESSAGE CONTROL]

disable=missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        wrong-import-position,
        unused-import,
        redefined-outer-name,
        inconsistent-return-statements,
        no-else-return,
        cyclic-import,
        W0622,
        missing-timeout,
        too-few-public-methods,
        W0703,
        W0401,
        too-many-locals,
        too-many-nested-blocks,
        too-many-instance-attributes,
        import-error,
        attribute-defined-outside-init


ignored-classes=scoped_session

[FORMAT]

max-line-length=100

[REFACTORING]

max-nested-blocks=3

[SIMILARITIES]

ignore-comments=yes
ignore-imports=yes
min-similarity-lines=4

[BASIC]
good-names=id,db,AppLibrary,f,i
argument-naming-style=snake_case
attr-naming-style=snake_case
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
function-naming-style=snake_case

[VARIABLES]
redefining-builtins-modules=id
